:root {
  --primary: #2563eb;
  --primary-light: #3b82f6;
  --primary-dark: #1e40af;

  --bg: #f8fafc;
  --surface: #ffffff;

  --text: #1e293b;
  --text-light: #64748b;

  --border: #e2e8f0;
}

body {
  margin: 0;
  background: var(--bg);
  font-family: "Inter", sans-serif;
}
